<?xml version="1.0" encoding="UTF-8"?>
<status>
	<connection port="4001" clientId="1" />
	<account name="DU609545" />
	<money investCash="20000" leverage="2" />
	<mail addressTradeLog="svoboda77@volny.cz" addressCheck="svoboda77@volny.cz" addressError="svoboda77@volny.cz" from="svoboded@gmail.com" password="svob4ded" />
</status>
